@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>WELCOME TO AUTH0 TECHNOLOGIES</h2>

    <p><a href="https://auth0.com/" class="btn btn-primary btn-group-justified" target="_blank">LEARN MORE</a><a href="https://manage.auth0.com/dashboard/us/dev-0ztxkmi4/" class="btn btn-primary btn-group-justified" target="_blank">AUTH0 ACCOUNT</a>
    <a href="https://dev-0ztxkmi4.us.auth0.com/authorize?response_type=code&client_id=q92dUmrGrXZlPuroSwb4OZZFXlL3iUmo&redirect_uri=http://localhost:3000/account/authrization&scope=offline_access&audience=https://dev-0ztxkmi4.us.auth0.com/api/v2/&state=xyzABC123" class="btn btn-primary btn-group-justified" target="_blank">GET ACCESS TOKEN</a></p>
    
</div>

